{% extends "base.md.j2" %}
{% block content %}
What editor are you using?

{{ question("Editor", "ed") }}

- {{ option("ed", "PyCharm", "ci-pycharm.md", value="pych") }}
- {{ option("ed", "VSCode", "ci-vscode.md", value="vsc") }}
- {{ option("ed", "Something else", "ci-no-help.md") }}

{% endblock %}
