{% if num_pythons == "one" %}

TODO: Write stuff for when there is just one Python.

{% else %}

This time, try installing your library again, but this time, with the following
command:
```
py -m pip install <package-name>
```

Once that's finished, navigate back to VSCode and select a new Python
interpreter.
You can do so by selecting the box where your current Python version is listed
on the bottom-most bar in the editor, and selecting the latest (that is, the
highest version) Python interpreter from the list.

{% endif %}
