{% extends "base.md.j2" %}
{% block content %}
{% if os == "w" %}

Open a cmd or Powershell window and run the following command:
```
py -0p
```

In the output, how many Python versions are listed?

{{ question("Number of Pythons", "npy") }}

- {{ option("npy", "Just one", "ci-fix-vscode.md", value="one") }}
- {{ option("npy", "More than one", "ci-fix-vscode.md", value="more") }}

{% else %}

Sorry, we haven't written the steps for {{ os }} yet.

{% endif %}

{% endblock %}
