{# This is markdown processed by Jinja. #}
{% extends "base.md.j2" %}
{% block content %}

Hi! What operating system do you use?

{{ question("Operating System", "os") }}

- {{ option("os", "Windows", "start2.md", value="win") }}
- {{ option("os", "Linux", "start2.md", value="linux") }}
- {{ option("os", "MacOS", "start2.md", value="mac") }}

{% endblock %}
