What editor are you using?

{{ question("Editor", "editor") }}

- {{ option("editor", "PyCharm", "ci-pycharm.md") }}
- {{ option("editor", "VSCode", "ci-vscode.md") }}
- {{ option("editor", "Something else", "ci-no-help.md") }}
