lorem ipsum quia dolor sit amet consectetur adipisci velit, sed quia non numquam
eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat
voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel
eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae
consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur.

{% if os == "Windows" %}

This is about Windows!

{% if skill == "e" %}
Since you are an expert, let's talk about all the details.
{% endif %}

{% elif os == "Linux" %}

This is about Linux!

{% elif os == "MacOS" %}

This is about Mac.

Let's go {{ link("talk some more about it", "more.md") }}.

{% endif %}

lorem ipsum quia dolor sit amet consectetur adipisci velit, sed quia non numquam
eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat
voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel
eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae
consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur.
