Do you like lots of details, or do you just want instructions?

{{ choice("Depth", "depth") }}

- {{ choose("depth", "Details", "start3.md", "d") }}
- {{ choose("depth", "Instructions", "start3.md", "i") }}
